body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}
.box p{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box h3{
    color: white;
    /* text-transform: uppercase;*/
    font-weight: 500;
}
.box h4{
    color: white;
    /*text-transform: uppercase;*/
    font-weight: 500;
}
.box label{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}

.box input[type = "file"]{

    color: white;

}

.box .foto {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mensagens .foto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}
.mensagens .meta {
    display: inline-block;

}

.box button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}
.box button:hover{
    background: #2ecc71;
}



/***********************************************************************************************************************/
/*SelecaoConversa*/
.form-control {
	margin-bottom: 20px;
}


.form-control label {
	display: block;
	margin-bottom: 5px;
}

.form-control select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}








/******************************************************************************************************************************/


:root {
	--dark-color-a: #191919;
	--dark-color-b: #191919;
	--light-color: #191919;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}


.btnI{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.btnI:hover{
    background: #2ecc71;
}


.btnII {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}








.ConversaBox {
	max-width: 1100px;
	background: rgb(255, 255, 255);
	margin: 30px auto;
	overflow: hidden;
}



.conversa-cabecalho {
	background: var(--dark-color-a);
	color: rgb(255, 255, 255);
/*	border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    text-align: center;
}
.conversa-cabecalho  button {
    
    width: 100%;
   
    height: 50px;
   
    border:0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.conversa-cabecalho button:hover{
    background: #2ecc71;
}



.ConversaMain {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.conteudo-lateral {
	background: var(--dark-color-b);
	color: rgb(255, 255, 255);
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.conteudo-lateral h2 {
	font-size: 20px;
	background: #191919;
	padding: 10px;
	margin-bottom: 20px;
}

.conteudo-lateral h3 {
	margin-bottom: 15px;
}

.conteudo-lateral ul li {
	padding: 10px 0;
}

.mensagens {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    background-color:rgb(44, 44, 44);
    
}

.mensagens .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.mensagens .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #2ecc71;
	opacity: 0.7;
	margin-bottom: 7px;
}

.mensagens .message .meta span {
	color: white;
}
.mensagens .message .text {
	color: white;
}

.conversa-form-container {
	padding: 20px 30px;
	background-color: #191919;
   

}

.conversa-form-container form {
	display: flex;
    
}

.conversa-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 20px;
	flex: 1;

    
    border:0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: auto;
}
    

.conversa-form-container button {
    width: 15%;
   
    height: 50px;
    margin-left: 40px ;
    border:0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.conversa-form-container button:hover{
    background: #2ecc71;
}


@media (max-width: 700px) {
	.ConversaMain {
		display: block;
	}

	.conteudo-lateral{
		display: none;
	}
}
