<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="scripts.js"></script>
    <title>Voltar a uma conversa</title>
</head>
<body>
<div class="box">
    <% for(var i=0; i<data.length; ++i){ %>
        <p class="text">
            Conversa: <%= data[i].conversa %>
        </p>
        <p class="text">
            Admin: <%= data[i].id_admin %>
        </p>
        <form action="/pedirVoltar" method="post">
            <input  type="hidden" name="id_conversa" value="<%=data[i].id_conversa%>" >
            <input  type="submit" value="Pedir para Voltar">
        </form>
    <% } %>
    <%- include(process.cwd() + '/views/partials/voltar') %>
    <div>
</body>
</html>

