<!--action="/activities/raw"-->
<form method="post" action="/registado"  >
    <input placeholder="Nome" name="nome" required><br><br>
    <input type="password" placeholder="Password" name="password" id="password" required><br><br>
     <label for="img">Escolha uma imagem:</label>
     <input type="file" id="img" name="img" accept="image/*"  required><br>
    <input type="submit" value="registar">
</form>

