<div class="panel panel-default">
    <div class="panel-heading"> Submeter Registo </div>
    <div class="panel-body">
        <%- include('./add_form') %>
        <%- include(process.cwd() + '/views/partials/voltar') %>
    </div>
</div>
