   <h3> Escolha uma foto de perfil!</h3>
    <% if (data.sucesso == true) { %>
      <form method="post" action="/registar" enctype='multipart/form-data'>
           <label for="img">Escolha a foto de perfil que desejar:</label>
           <input type="file" id="img" name="img" required><br>
           <input type="submit" value="adicionar">
      </form>
      <br><br>
    <% } else { %>
    <% } %>