<div class="panel panel-default">
    <div class="panel-heading">
        <strong><div class="panel-heading"><h4><%=data.mensagem%></h4></div></strong>
    </div>
    <div class="panel-body">

                <form action="/login">
                    <input type="submit" value="Fazer Login">
                </form>
                <%- include(process.cwd() + '/views/partials/voltar') %>
    </div>
</div>