<!--action="/activities/raw"-->
<form method="post" action="/logado">
    <input placeholder="Nome" name="nome" required><br><br>
    <input type="password" placeholder="Password" name="password" required><br><br>
    <input type="submit" value="login">
</form>

