<div class="panel panel-default">
    <div class="panel-heading"> Fazer Login </div>
    <div class="panel-body">
        <%- include('./add_form') %>
        <br>
        <form action="/registar">
            <input type="submit" value="resgistar">
        </form>
    </div>
</div>