<% if (data.sucesso == true) { %>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
<body>
<img src='<%=data.imagem%>' alt="foto" class="foto">
</body>
</html>
 <% } else { %>
    <% } %>