<div class="panel panel-default">
    <div class="panel-heading">
        <%- include('./foto') %>
        <strong><div class="panel-heading"><h4><%=data.mensagem%></h4></div></strong>
    </div>
    <div class="panel-body">
                <form action="/login">
                    <input type="submit" value="Sair">
                </form>
    </div>
</div>