<!DOCTYPE html>
<html lang="en">
<head>

    <%- include(process.cwd() + '/views/partials/head') %> <!-- Reused so it's general view -->

    <title>Login</title>
</head>
<body>

    <%- include(process.cwd() + '/views/partials/titleLogado') %> <!-- Reused so it's general view -->
    <br><br>
      <%- include('./partials/mostrarLogado') %>
</body>
</html>