<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(process.cwd() + '/views/partials/head') %>
    <title>Registado</title>
</head>
<body>
     <%- include(process.cwd() + '/views/partials/title') %> <!-- Reused so it's general view -->
     <%- include('./partials/mostrarRegisto') %>
    <br><br>

</body>
</html>