<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(process.cwd() + '/views/partials/head') %> <!-- Reused so it's general view -->
    <title>Registo</title>
</head>
<body>
    <%- include(process.cwd() + '/views/partials/title') %> <!-- Reused so it's general view -->
    <%- include('./partials/content') %> <!-- Just for activity -->
    <br><br>

</body>
</html>