<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alterações</title>
    <link rel="stylesheet" href="style.css">
     
  </head>
  <body>
    <div class ="box">  
        <h1>Alterações de Conversa</h1>
        <form method="post" action="/registado" enctype='multipart/form-data'>
            <input type="text" name="nomeConversa" placeholder="Novo nome da Conversa" required>
            <input type="submit" name="" value="Adicionar mudança">
        </form>
    </div>
  </body>
</html>



