<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Criar Conversa</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="scripts.js"></script>

</head>
<body>
<div class ="box">
    <h1>Criar Conversa</h1>
    <form method="post" action="/criarNovaConversa">
        <input type="text" name="conversa" placeholder="nome da conversa">
        <input type="submit" name="" value="Criar Conversa">
    </form>
    <%- include(process.cwd() + '/views/partials/voltar') %>
</div>
</body>
</html>

