<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="scripts.js"></script>
    <body>
    <div class="resposta-form-container"> <!-- é o container do fundo onde tem o input para texto e o botao para enviar msg-->
        <form  id="resposta-form" method="post" action="/respostaMensagem" > <!-- ver o method e action para este form -->
            <input type="hidden" name="id_conversa" value="<%= data.id_conversa %>"/>
            <input id="msg" type="text" name="mensagem" autocomplete="off" placeholder="Escreva a sua mensagem ..." required />
            <button class="btn"> Enviar </button>
        </form>
    </div>

    </body>
</html>